.app-container {
  min-height: 100vh;
  background-color: #111; /* 幽暗背景 */
  background-image: url('/backgroud.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f8f8f8;
  font-family: 'Creepster', 'Courier New', cursive; 
}

